<!DOCTYPE html>
<html lang="en">
<!--link to drawing code-->
<!--https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script defer src="vue.global.js" type="text/javascript"></script>
    <script defer src="client.js" type="text/javascript"></script>
</head>


<body>
    <div id="app">

        <span v-if="word != 'Loading...'"> {{ word }} </span>
        <span> <sup> {{ wordLength }} </sup></span>
        <div>
            <canvas id="canvas" width="800" height="600" @mousedown="mouseDown" @mousemove="mouseMove"></canvas>
            <input v-model="lineColor" type="color">
            <div>
                <input v-on:keydown.enter="checkGuess" v-model="guess" type="text">
                <span> <sup> {{ " " + guess.length }} </sup> </span>
                <h2 v-if="correct"> Correct! </h2>
            </div>
        </div>
    </div>
</body>
</div>

</html>