<!DOCTYPE html>
<html lang="en">
<!--link to drawing code-->
<!--https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Scribble by AKA </title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="vue.global.js" type="text/javascript"></script>
    <script defer src="client.js" type="text/javascript"></script>
</head>


<body>
    <div id="app">
        <div id="parent">
            <div id="leaderboard">
                <span> Logged in as {{ username }} </span>
                <span> Players: </span>
                <ul>
                    <li v-for="user of userList">{{user.username}},
                        Percent correct: {{nicePercent(user.roundsCorrect / user.roundsPlayed)}}
                        Percent won: {{nicePercent(user.roundsWon / user.roundsPlayed)}}
                        <span v-if="user.wonThisRound">🏆</span>
                        <span v-else-if="user.correctThisRound">🏅</span>
                    </li>
                </ul>
            </div>
            <div id="art">
                <div id="game">
                    <span v-if="word == null"> Waiting for next round... </span>
                    <span id="display" v-if="word != null"> {{ displayWord }} </span>
                    <span v-if="word != null"> <sup> {{ wordLength }} </sup></span>
                    <p><strong>{{timeLeft}}</strong></p>
                </div>
                <canvas id="canvas" width="800" height="550" @mousedown="mouseDown" @mousemove="mouseMove"></canvas>
                <br>
                <label> Color: </label>
                <input v-model="lineColor" type="color" placeholder="Guess what it is!">
                <label> Size: </label>
                <input type="range" name="size" id="size" v-model="lineSize" min="0" max="100">
                <label> {{ lineSize + " px"}}</label>
                <div>
                    <input v-on:keydown.enter="checkGuess" v-model="guess" type="text">
                    <span> <sup> {{ " " + guess.length }} </sup> </span>
                    <h2 id="answer" v-if="correct"> Correct ✓ </h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>