canvas {
    border: solid 2px black;
    background-color: white;
}

body {
    background-color: bisque;
}

div {
    text-align: center;
}

span {
    font-size: xx-large;
}

input {
    font-size: x-large;
}