canvas {
    border: solid 2px black;
    background-color: white;
}

body {
    background-color: bisque;
}

#game,
#art {
    text-align: center;
    font-size: xx-large;
}

#parent {
    display: flex;
}

#leaderboard {
    width: 200px;
}

#art {
    flex: 1;
}

#answer {
    color: green;
}


input {
    font-size: x-large;
}

.correct {
    color: green;
}