canvas {
    border: solid 2px black;
    background-color: white;
}

body {
    background-color: bisque;
}

#game,
#art {
    text-align: center;
    font-size: large;
}

#parent {
    display: flex;
}

#leaderboard {
    width: 200px;
}

#art {
    flex: 1;
}

#answer {
    color: green;
}


input {
    font-size: x-large;
}

.correct {
    color: green;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }
}

.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem #ff0000;
}